// fonts
$roboto: 'Roboto', sans-serif;
$lato: 'Lato', sans-serif;
$small-font-size: 1.6rem;
$medium-font-size: 1.8rem;
$big-font-size: 20rem;


// colors
$color-black: #000;
$color-white: #fff;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-light: #f7f7f7;
$color-grey-light-2: #eee;
$color-purple-dark: #6e39a3;
$color-pink-dark: #bd1153;
$color-red-light: #e81010;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;
