body{
    font-family: $lato;
    font-weight: 400;
    line-height: 1.7;
}

.header__text-box___content{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.header__text-box___content--main{
    display: block;
    font-size: 3rem;
    letter-spacing: 2rem;
    animation: moveFromTop 1.5s ease-out .30s;
    animation-fill-mode: backwards;
}

.hedaer__text-box___content--sub{
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.75rem;
    
    animation: moveFromBottom 1.5s ease-out .50s;
    animation-fill-mode: backwards;
}

/* Titles */
.second-text-title{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    letter-spacing: .2rem;

    background-clip: text;
    background-image: linear-gradient(to right, $color-pink-dark, $color-purple-dark);
    -webkit-background-clip: text;
    color: transparent;
}

.third-text-title{
    font-size: $medium-font-size;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-pink-dark;
}

.text-paragraph{
    font-size: $small-font-size;
    color: $color-grey-dark;
    margin-bottom: 3rem;
}

.text-paragraph-2{
    font-size: $small-font-size;
    color: $color-white;
    margin-bottom: 3rem;
}