.header__menu___menu--navbar{
    padding-top: 2rem;

    ul{
        display: flex;
        flex-wrap: wrap;
    }

    li{
        margin: 1rem 1.5rem;
        font-size: 1.8em;
        display: block;
    }

    a{
        font-weight: 200;
        color: #777;
    }

    a:hover{
        color: #fff;
    }
}

