.turmas-box{
    background-color: rgba($color-white, .9);
    font-size: 1.5rem;
    display: inline-block;
    box-shadow: 0 2rem 8rem rgba($color-black, .15);

    &--cover{
        img{
            width: 100%;
        }
    }

    &--content{
        padding: 1.5rem;
        background-color: $color-white;
    }

}