@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  list-style: none;
  outline: none;
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f7f7f7; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.header__text-box___content {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center; }

.header__text-box___content--main {
  display: block;
  font-size: 3rem;
  letter-spacing: 2rem;
  animation: moveFromTop 1.5s ease-out .30s;
  animation-fill-mode: backwards; }

.hedaer__text-box___content--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.75rem;
  animation: moveFromBottom 1.5s ease-out .50s;
  animation-fill-mode: backwards; }

.sobre--title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: .2rem;
  background-clip: text;
  background-image: linear-gradient(to right, #bd1153, #6e39a3);
  -webkit-background-clip: text;
  color: transparent; }

.third-text-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #bd1153; }

.text-paragraph {
  font-size: 1.6rem;
  color: #777;
  margin-bottom: 3rem; }

.u-center-txt {
  text-align: center; }

.u-mb-small {
  margin-bottom: 1.5rem; }

.u-mb-medium {
  margin-bottom: 4rem; }

.u-mb-big {
  margin-bottom: 8rem; }

.header__text-box {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); }

.header__menu___logo {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1rem;
  padding-top: 2rem; }

.header__menu___logo a {
  background-clip: text;
  background-image: linear-gradient(to right, #fff, #bd1153);
  -webkit-background-clip: text;
  color: transparent; }

.header__menu___menu--navbar {
  padding-top: 2rem; }
  .header__menu___menu--navbar ul {
    display: flex;
    flex-wrap: wrap; }
  .header__menu___menu--navbar li {
    margin: 1rem 1.5rem;
    font-size: 1.8em;
    display: block; }
  .header__menu___menu--navbar a {
    font-weight: 200;
    color: #777; }
  .header__menu___menu--navbar a:hover {
    color: #fff; }

.images {
  position: relative; }
  .images__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    border-radius: 2px;
    z-index: 10;
    transition: all .2s; }
    .images__photo--p1 {
      left: 0;
      top: -2rem; }
    .images__photo--p2 {
      top: 10rem;
      right: 0; }
    .images__photo--p3 {
      top: 20rem;
      left: 20%; }
    .images__photo:hover {
      transform: scale(1.5);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }

.turmas-box {
  background-color: rgba(255, 255, 255, 0.8);
  flex: 1 25rem;
  display: inline-block;
  margin: 0 2rem;
  padding: 0 1rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .turmas-box__cover {
    width: 100%; }

.header {
  height: 100vh;
  background: linear-gradient(rgba(110, 57, 163, 0.4), rgba(0, 0, 0, 0.4)), url("../img/gym-woman.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

.header__menu {
  max-width: 102.4rem;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.sobre {
  padding: 15rem 0;
  background-color: #f7f7f7;
  max-width: 102.4rem;
  margin: 0 auto; }

.sobre__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1.5rem; }
  .sobre__content .sobre__content--text {
    flex: 1 28rem;
    margin-right: 2rem; }
  .sobre__content .sobre__content--images {
    flex: 1 28rem; }

.turmas {
  margin: 0 auto;
  height: 95vh; }

.turmas__content {
  padding: 0 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10rem auto 0 auto;
  max-width: 102.4rem; }
