.header{
    height: 100vh;

    background: linear-gradient(
        rgba(0, 0, 0, 0.500),
        rgba(128, 128, 128, 0.400)),
          url('../assets/img/training-woman.jpg');

    background-size: cover;
    background-position: top;
    position: relative;
}

.header-box{
    border: solid 1px #fff;
    max-width: 1024px;
    margin: 0 auto;
}