// Section Sobre
.sobre{
    padding: 15rem 0;
    background-color: $color-grey-light;    
    max-width: 102.4rem;
    margin: -25vh auto;
}

.sobre__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1.5rem;

    .sobre__content--text{
        flex: 1 28rem;
        margin-right: 2rem;
    }

    .sobre__content--images{
        flex: 1 28rem;
    }
}

