.header{
    height: 100vh;
    background: linear-gradient(
        rgba(20, 18, 18, 0.400),
        rgba(87, 81, 81, 0.400)),
          url('../img/gym-woman.jpg');

    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

}

.header__menu{
    max-width: 102.4rem;
    margin: 0 auto;
    padding: 0 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}